<%= form_with(model: employee) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
        <% employee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group mb-3">
    <%= form.text_field :first_name , class:"form-control" , placeholder: "First Name" %>
  </div>

  <div class="field form-group mb-3">
    <%= form.text_field :last_name  , class:"form-control"  , placeholder: "Last Name" %>
  </div>

  <div class="field form-group mb-3">
    <%= form.text_field :email  , class:"form-control"  , placeholder: "Email"%>
  </div>

  <div class="field form-group mb-3">
    <%= form.text_field :phone  , class:"form-control"  , placeholder: "Phone Number"%>
  </div>

  <div class="field form-group mb-3">
    <%= form.text_field :twitter  , class:"form-control"  , placeholder: "Twitter"%>
  </div>

  <div class="field form-group mb-3">
    <%= form.number_field :user_id  , id: :employee_user_id , type: :hidden ,class:"form-control"  , value: current_user.id %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-secondary" %>
  </div>
<% end %>
